[2013-06-13 20:45] smakinson opened #2 "Message text not showing"
I am giving this util a try and all seems to be working except the actual message text does not show up. Perhaps flash.message is not being added to the scope as it seems? I am trying with angular 1.0.7.

Also I notice you have some version of this in angular-common, but it appears this is the more recent version. Is that correct?

Thanks! This looks like it should be helpful and clean for dealing

[2013-06-13 22:43] wmluke commented on #2
Hi Shawn,

Can you include some code snippets so I can get a better idea of what's going on?

Also, although angular-common is public, I feel that its not really up to snuff for public consumption.  In fact, I plan to break up angular-common into smaller more testable and portable modules, such as angular-flash.  Of course you are welcome to fork angular-common and use as-is.

Thanks,
Luke

[2013-06-14 14:03] smakinson commented on #2
Hi Luke, thanks for the quick response. So far I have taken the snippets from your readme and added them I also tried adding the alert-block class name incase it was a height issue. Here is what I have:

Bootstrap html:

[code]

In my controller after a service call comes back, I have:

[code]

The bootstrap alert shows up fine and in the proper color, but without anything from the binding of the

[2013-06-25 08:35] wmluke commented on #2
It appears that this is a timing issue.  Specifically, the flash service is publishing the `success` flash before the flash-alert directive has subscribed to flash messages.

I'm working on a fix, but in the meantime as a not-so-nice workaround you can delay the `flash.success` by throwing it in a timeout...

[code]

Let me know how it goes.

[2013-06-25 14:39] smakinson commented on #2
Awesome, thank you!

[2013-06-27 10:00] mikz opened #3 "Setting two flash messages with different type will add both types as the class"
Imagine this example:

[code]

It correctly replaces the message with 'Object saved', but it does not remove the original 'alert-info' class so it shows 'Object saved' with two classes: 'alert-info' and 'alert-success'.

using this template:

[code]

If you are ok with me fixing it I could make a PR. Lets just figure out some solution you would be happy with.

[2013-06-28 16:38] wmluke commented on #3
I suspect this is related to #2.  To test my theory, would you mind wrapping `flash.info = 'Saving...';` in a `$timeout`?

Something like...

[code]

Thanks,
Luke

[2013-06-28 16:41] mikz commented on #3
Both are showing. The first one just blinks and the other is shown. The issue is that the first class "info" is not removed when the "success" is shown.

The example would show the `info` after the `success` and it would also have both classes.

[2013-06-29 08:06] #2 closed, assigned to wmluke

[2013-06-29 08:06] #3 closed, assigned to wmluke

[2013-07-10 06:06] tmaeda opened #4 "Can't find the app/components symlink."
https://github.com/wmluke/angular-flash/tree/master/app

what's the ../bower_components?
I can't find this file, so my project using angular-flash can't build.

[2013-07-10 07:13] wmluke commented on #4
So I suspect one of two things...

A) You need to run `bower install`.  See http://bower.io for details.  Also, note the project Makefile, which you can run with `make install`.

OR

B) You are running this on a version of Windows that does not support symbolic links

[2013-07-10 23:46] wmluke commented on #4
Hi tmaeda,

Take a look see at the project [contributing guidelines](https://github.com/wmluke/angular-flash#contributing) and let me know if this issue persists.

Thanks,
Luke

[2013-07-11 07:50] tmaeda commented on #4
Hi wmluke,

Thank you for your kind advices.
`bower install` solved it.

Thanks.

[2013-07-11 07:50] #4 closed, assigned to nobody

[2013-07-25 07:32] flexd opened #5 "Variable fade/hide-time. Wouldn't this be a good idea?"
I found myself wanting to perhaps show some messages longer than others.

Wouldn't it be nice to be able to specify how long you want the message visible? And if you want it to automatically disappear.

[2013-07-28 23:44] wmluke commented on #5
Seems reasonable. How would you like to specify these settings? In a config block or as directive attributes?

I'm leaning towards a config block to keep thing simple but this would preclude different behavior across directive instances.

Thoughts?

[2013-07-29 07:30] flexd commented on #5
I am not sure what would be best. I think perhaps as directive attributes?

[2013-07-29 18:09] rfink commented on #5
+1 on this issue, +1 on directive attributes (to be flexible per-instance)

[2013-08-09 17:53] jusx commented on #5
I would like to see this as a directive attribute as well. Is anyone working on this yet?

[2013-08-09 18:35] wmluke commented on #5
Its on my todo list...been swamped.  Of course PR's are welcome ;)

[2013-08-09 18:37] jusx commented on #5
Alright. I may have to code this for my current project. Was hoping someone had already did this so I don't have to
;-)

[2013-08-10 05:53] #5 closed, assigned to wmluke

[2013-08-22 17:41] wmluke opened #7 "Support Bootstrap 3"

[2013-08-30 11:13] Narretz opened #8 "Feature idea: scoped alerts"
Currently, the flash service only knows global flashes, and directives can only discriminate according to the type of alert. It would be nice if the alerts could be restricted to scope. It's strange that I define an alert message in scope A, but it will not only show in scope A, but also in scope B! for example, you have a modal open and something fails, you want to show a flash, but you also want

[2013-09-10 08:32] wmluke commented on #8
Thanks for the feedback @Narretz, and sorry for not getting back to you sooner.

Anyway, I initially created angular-flash to solve the problem of communicating between scopes.  For example I had a template something like...

[code]

And I wanted to show and hide the "global" alert based on controller actions within the `ngView` scope without resorting to `$scope.$parent`.  A pub-sub arrangement b

[2013-09-10 08:32] #8 closed, assigned to nobody

[2013-09-10 09:41] #7 closed, assigned to wmluke

[2013-09-12 10:07] nik-kor commented on #2
Hi!
I have the same trouble with not showing text message. 0.1.8 version is used

[2013-10-01 09:01] daanporon opened #9 "flashing the same message multiple times in different directives"
hi, first of all thanks for this plugin ... we where using it in our project and it was working really well. But now we found a few issues with it. We have a page which shows flash messages, on this page we can open a modal which also needs to show flash messages. Now when we get a flash it is shown on our page and if we open the modal after that, our flash is shown again in the modal. This is bec

[2013-10-01 09:04] daanporon opened #10 "support for multiple flash messages of the same type at the same time."
When we register 2 flash messages after each other only one flash message will be flashed on screen. Also we would like to use the directive to show the messages of all types, but if we do this we have the same issue if a warning and an error flash message are registered. It will only show the last one.

[2013-10-02 21:50] x1a0 commented on #2
Hi,

_UPDATE_
Found the reason. It was because my template engine also interprets `{{ }}`. Just in case someone would make same mistake...

[2013-10-03 06:40] wmluke commented on #10
This is the desired behavior.  Specifically, if you publish two flashes one after the other, then only the last one should be shown.  But you can control which messages `flashAlert` directives subscribe to by setting a type (`flash-alert="error"`) or by setting an id (`id="alert-1"`).

Controller:

[code]

Template:

[code]

Good Luck!

[2013-10-03 06:40] #10 closed, assigned to nobody

[2013-10-03 07:31] wmluke commented on #9
Hello again,

Thanks for the feedback.

Generally speaking `angular-flash` is great for displaying flash messages within **application** wide `alert` containers...meaning sending flashes to the same application level `alert` from different controllers.  I feel `angular-flash` is a bit overkill if you're just trying to display flash messages within the same controller scope.  See issue #8 for detai

[2013-10-03 07:31] #9 closed, assigned to nobody

[2013-10-03 07:33] wmluke commented on #8
@Narretz

I just rolled out a new feature which I think can help you.  Specifically, you can now send flash messages to discrete `flashAlert` directives...

Controller:

[code]

View:

[code]

Hope this helps.

Good luck!

[2013-10-04 02:00] pschuegr opened #11 "Doesn't work if display code is in non global scope."
This works, but as soon as the flash code is inside the menu.html, it doesn't display anymore.  It's a scope issue but I haven't quite wrapped my head around it yet.

[code]

[2013-10-04 02:11] wmluke commented on #11
Scoping shouldn't matter, but timing could be an issue, ie you could be setting a flash before the view has been rendered.

In which controller are you setting the flash: the AppCtrl or the routed-to controller?  Can you provide controller examples?

[2013-10-04 02:37] pschuegr commented on #11
I'll put the controller code in as soon as I'm home, but it's in the routed controller.   Seems unlikely to be a timing issue as it happens on a button click.

[2013-10-04 03:37] pschuegr commented on #11
Here's the controller code, not really anything special about it:

[code]

[2013-10-04 17:11] wmluke commented on #11
I don't see anything superficially wrong with your setup.  Could it be a styling issue: something preventing the `#menu` element or the `flash-alert` within it from displaying properly?

[2013-10-04 17:23] wmluke commented on #11
Also, FYI, `ng-show="showSystem()"` could lead to issues. Specifically, that sets up a watch on `showSystem()`.  Someone not familiar with the usage of `showSystem()` could throw a bunch of heavy lifting in it and cause some problems.  It might be a bit more performant and defensive to setup an explicit scope `$watch` which sets a flag which `ng-show` watches.  Overall, probably not a big deal...i

[2013-10-08 12:14] okarahan opened #12 "ng-show depending on flash.type"
Hi guys,

I don't know if its possible with this flash service, but I try to do the following:
1. I want a ng-switch on the attribute "flash.type" if there is something like this.
2. If flash.type is error, then a div block should be display, if its success, then another part should be displayed.
3. The main problem I have is, that I have a big block on the top of my site for the flash messages an

[2013-10-09 22:37] pschuegr commented on #11
Thanks for the tip - I haven't been able to find any styling issues but I've been distracted by some back-end stuff.  Will report back.

[2013-10-15 20:13] BrianHutchison opened #13 "Support for alerting to multiple issues in one flash-alert"
This is somewhat similar to [issue 10](https://github.com/wmluke/angular-flash/issues/10).

One use case I have now: when alerting to issues when submitting a form there may be a number of issues wrong. For example, a field might be missing, another field could be too long, another might have unicode chars where none were allowed, etc. My backend service sends an array of messages of this type tha

[2013-10-16 14:34] BrianHutchison opened #14 "Adding id attribute to flash-alert div tag causes flash to not show"
Adding an id attribute to the flash-alert div tag causes flash to not show. For example, the following will not work:

[code]

Expected/desired behavior is that the id tag can be added without causing any change in behavior. I've tried it both near the beginning of the attributes as shown above and at the end.

[2013-10-16 15:08] jusx commented on #13
Write a http interceptor that interprets your response. On failure, process and format your messages with anyway you need to fulfill your use case. i.e. build html with the array of error messages. You can then do a flash within this interceptor. This assuming your messaging and flashing is standard within your application.

IMHO this kind of functionality do not belong inside angular-flash.

[2013-10-19 22:52] wmluke commented on #13
Sorry for the delayed response...just got married and was on my honeymoon :-).

Anyway, I agree with @jusx, angular-flash is not the right layer for this.  You should handle the error response within the controller or response interceptor.

Thanks for the feedback and good luck,
Luke

[2013-10-19 22:55] #13 closed, assigned to nobody

[2013-10-19 22:57] wmluke commented on #11
So far I haven't been able to reproduce, so I'm going to close this issue. Please reopen if you come up with more information.

Thanks for the feedback.

[2013-10-19 22:57] #11 closed, assigned to nobody

[2013-10-21 01:27] wmluke commented on #12
Hi @okarahan,

Thanks for the feedback.  Instead of an uber block with a `ngSwitch`, try several blocks.  Also, just use `.hide` and `.show` as illustrated below...both come with bootstrap 2.3.

[code]

[2013-10-21 01:27] #12 closed, assigned to nobody

[2013-10-21 05:14] wmluke commented on #14
Hi @BrianHutchison,

This is due to a new feature in [release 0.1.9](https://github.com/wmluke/angular-flash/releases/tag/0.1.9) that allows sending flashes to named subscribers.

In retrospect, I probably should have incremented to the next minor version (0.2.0) to avoid breaking changes. Unfortunately, at this point the cat-is-out-of-the-bag, and mucking with the versioning could cause more havo

[2013-10-21 05:14] #14 closed, assigned to nobody

[2013-10-21 12:46] okarahan commented on #12
Thank you for your feedback. I will try it.

[2013-10-22 18:26] pschuegr commented on #11
Yeah, apologies.  I finally had a chance to put together a simple example and it works fine.  Must be in my code somewhere. Thanks for your responses.

[2013-10-22 20:02] pschuegr commented on #11
Ok, I tracked it down a bit further.  Here is a git repo showing the behaviour: https://github.com/verticallabs/angular-flash-test

I don't understand it fully, but there is one flash in the outer controller scope, and one in the inner ('other' scope).  The outer one is not initially visible (this may be the actual problem), but once it is visible, the flash seems to ignore it.

If the flash html

[2013-10-22 20:31] pschuegr commented on #11
Looks like the culprit is this:

[code]

When you have multiple flashes, the destruction of any one of their scopes causes all flashes to be unsubscribed, I think...

[2013-10-24 03:28] pschuegr opened #16 "All flashes unsubscribed on scope destroy"
Apologies, I couldn't reopen the other issue (https://github.com/wmluke/angular-flash/issues/11) for some reason:

Looks like the culprit is this:

[code]

When you have multiple flashes, the destruction of any one of their scopes causes all flashes to be unsubscribed, I think...

[2013-10-24 04:38] #16 closed, assigned to wmluke

[2013-10-24 04:39] wmluke commented on #16
@pschuegr, thanks so much for tracking this one down!  Nice work.

[2013-10-25 00:01] pschuegr opened #17 "Feature request: have flash.clean() remove existing flashes which have already been displayed."
As described.  Sorry for flooding your issues list!

[2013-10-25 00:42] wmluke commented on #17
The main issue is how/what knows when a particular message has been displayed?  Specifically, we could have several `flashAlert` directives each subscribing to different types of messages?  How does the flash service or particular `flashAlert` directives know if the others have "displayed" it?  Also, what does it mean to "display" a message?  Does "display" mean that a message has been received by

[2013-10-25 18:39] pschuegr commented on #17
Yes, very valid points.  After trying to find a way to do this, I think all that I was really looking for was a way to hide the alert divs.

(use case: when changing pages, sometimes the flash message doesn't really make sense for the next page)

I did it easily enough by removing the 'in' class from all alert divs using angular.element, but i feel like it would have been nicer to do this through

[2013-10-25 22:35] ChrisRose opened #18 "Alert takes up space when it is hidden"
The alert still takes up space on the page when it is hidden:

http://plnkr.co/edit/3FaOT5DwdiHywFoA2tvL

Is there a way to collapse the space?

[2013-11-05 08:55] dancek commented on #18
I wouldn't consider this a bug in angular-flash; if it's a bug, it's in Bootstrap or your CSS. :)

Just remove margins, paddings and borders when the alert is not shown.

[code]

Change values to your liking. In case you use .alert elsewhere, specify a wrapping class in the selectors.

[2013-11-05 08:58] dancek commented on #18
Looking at Bootstrap, this is most likely intentional on their part.

[2013-11-05 12:26] dmitry-dedukhin opened #19 "Question: Is there any reason why you are not support IE?"
Hi!

A quick search for IE's Object.defineProperty polyfill gives me nothing (i.e. there is no good polyfill).
So, I've created [fork](https://github.com/dmitry-dedukhin/angular-flash) with fixes for IE. Fixes are trivial - all setters are replaced by function calls.
I know that this is breaking changes, is there any chance that this fix will be accepted by you?

[2013-11-05 12:31] dmitry-dedukhin commented on #17
+1, it would be great to have method like cleanMessages to clean only messages but not subscribers.

[2013-11-05 21:42] wmluke commented on #19
Hi @dmitry-dedukhin,

Thanks for the feature request.

`Object.defineProperty` is supported by IE9 and above.  IE8 only supports it on DOM objects.  IE7 and below do not support it.

At this time, I'm not so enthused to support IE8 and below, but I'll leave this feature request open for a while to see how many other folks need it.

References:
- http://kangax.github.io/es5-compat-table/
- http://s

[2013-11-05 21:44] wmluke commented on #19
Lol. Accidentally, hit "Close & Comment".  Reopened.

[2013-11-05 22:13] wmluke commented on #18
I'd say this is styling issue and not really an issue with `angular-flash`.  Fortunately, you can resolve by moving `.alert` to the `active-class` attribute...

[code]

Thanks for the feedback!

[2013-11-05 22:13] #18 closed, assigned to nobody

[2013-11-06 07:33] dmitry-dedukhin commented on #19
Yep, I understand your point of view.
According to [statistics](http://www.w3schools.com/browsers/browsers_explorer.asp) there are about 4.7% of IE<=8. And this percent becomes lower each day.
But since I'm using angular-flash in enterprise-level application I should provide at least correct behavior in IE<=8. And the current code of angular-flash breaks my application at all in old IE's.

I can l

[2013-11-06 23:13] BrianHutchison commented on #18
Great solution, thanks!

[2013-11-24 14:26] tony-kerz opened #20 "alert-message and styling disappear abruptly while alert-header fades based on transition css"
first of all luke, sweet component, i think flash messages are ubiquitous and you did a really nice job with the project in terms of design, function and documentation.

this kind of a nit, but i would prefer to see the entire message (bootstrap round edge border style, `alert-header`, `alert-message`) fade uniformly. right now, the styled border and `alert-message` just disappear and then only th

[2013-11-25 06:14] wmluke commented on #20
Hi @tony-kerz,

Thanks for the feedback, and I'm glad you're finding `angular-blocks` useful.

Out of the box the `flashAlert` directive leverages Bootstrap's `.alert` element and `.fade` transition, but I attempted to make the `flashAlert` directive loosely coupled to the CSS and HTML.  The main contract is that `flashAlert` will add `.alert-<type>` and any classes listed in `active-class` to the

[2013-11-25 06:32] wmluke commented on #17
Hi @pschuegr, @dmitry-dedukhin,

Try calling `flash.clean()` on the Scope `$destroy` event or `$routeChangeSuccess` event...

[code]

[2013-11-25 06:36] wmluke opened #22 "Add support for `ngAminate`"
AngularJS's new animating support is outstanding...`angular-flash` should leverage it.

http://docs.angularjs.org/api/ngAnimate

[2013-11-25 14:34] tony-kerz commented on #20
hi luke,

thanks for the timely response.

good thought on `transition: all`, it made me read up and gain a slightly better understanding.

in this case though, i think the issue is that `flash.message` and the `alert-<type>` classes are being removed before the fade has completed.

i wasn't messing with your `duration` attribute which effects the time that the flash is visible, that value i intro

[2013-12-02 08:23] #20 closed, assigned to nobody

[2013-12-02 10:48] dmitry-dedukhin commented on #17
Hi, @wmluke,

This is not the case, I think.
My use case is the following.
After some user action I show an error, e.g. when user selects wrong date. And I do not allow user to close that message. When user selects correct date I want to clean that error message, but I don't know how.

[2013-12-09 18:31] ChrisRose opened #24 "Disregard this issue"
An errant keystroke created this issue.  Unfortunately, Github doesn't allow you to delete an issue.

Great plugin-in btw.  It's been very useful in a project I'm working on.

@wmluke - label as you see fit.

[2013-12-09 18:32] #24 closed, assigned to nobody

[2013-12-17 09:37] rsiddle commented on #17
@wmluke I'm using the following within my MainCtrl and it doesn't seem to be clearing any of the messages.

[code]

[2013-12-24 15:21] stevebering commented on #17
I am attempting to run flash.clean on any route change by running the following:

[code]

However, my alerts won't go away. Am I missing something?

[2014-01-24 19:29] wmluke commented on #19
Don't see much need from anyone else. Closing.

[2014-01-24 19:29] #19 closed, assigned to nobody

[2014-02-01 18:50] joselo commented on #17
@stevebering  did you solve that?, I was trying using $locationChangeSuccess instead of $routeChangeSuccess but it doesn't work.

[2014-02-02 11:19] wmluke commented on #17
Hi folks,

Sorry for the extended radio silence.  I think the latest release may help.  Specifically, `flash-alert` directives will now hide themselves when they receive a falsey flash message...

[code]

Let me know how it goes, and thanks again for all the great feedback.

Luke

[2014-02-02 11:19] #17 closed, assigned to nobody

[2014-02-05 19:06] mikedevita opened #25 "Bootstrap 3 alerts don't hide when not visible."
Im probably doing something wrong, but either way i want to make sure this is documented.. I must be missing something in the examples..

Given the following code:

[code]

When the alerts are not triggered (hidden) their contents still show up.

![screen shot 2014-02-05 at 12 04 01 pm](https://f.cloud.github.com/assets/2991640/2090747/729771b4-8e98-11e3-8dc7-77773c46f0cc.png)

[2014-02-15 08:49] wmluke commented on #25
Hi @mikedevita,

I think you need to add `class="fade"` to each `flashAlert` directive...

[code]

Also, take a look at these [styling-considerations](https://github.com/wmluke/angular-flash#styling-considerations) for other pointers.

Good luck!
Luke

[2014-02-15 08:49] #25 closed, assigned to nobody

[2014-02-28 02:03] pschuegr commented on #25
Did that work for you @mikedevita?  It's not helping me.

[2014-02-28 02:20] mikedevita commented on #25
it doesn't work for me, i dont want it to fade as im using bootstraps close feature for it. I ditched this lib and went with another.

[2014-03-04 10:13] dmitry-dedukhin opened #27 "flashAlert directive breaks protractor tests."
Hi!

I've noticed that flashAlert directive uses $timeout to auto-hide alert.
But this cause protractor tests to fail, e.g. when I want to test whether flash is shown, because while the flash is shown protractor can't synchronize with the page waiting for all timeouts to complete.
See [protractor's FAQ](https://github.com/angular/protractor/blob/master/docs/faq.md) for details.

So, I propose to u

[2014-03-06 08:26] jackypan1989 commented on #12
nice hack!!

[2014-04-01 14:22] SrividyaKasu opened #28 "flash messages on multiple pages is not working"
When I have flash messages in consecutive views, flash message on second page is not shown. Please check the below code. flash to strategy also is not working(
    flash.to('alert-1').info = 'Only for alert 1';) It seems like page 1 swallowing flash message destined to page 2.

Page 1

<div flash-alert="success" active-class="in alert show" class="fade hide" duration="0">
             <button type

[2014-04-01 16:46] aminal commented on #28
You're dealing with different scopes. In it's current form, angular-flash cannot flash.to() a DOM element that doesn't exist (yet). If you attempt to flash.to() an element on the page of your current scope, you'll see that it is working.

I was having the same issue, so I simply created a catch-all alert (not assigning an id to the alert element) on the second page.

[2014-04-01 17:47] aminal commented on #22
For anyone looking to incorporate ng-animate, here's what I did to accomplish it.

A few things to be aware of:
1. Requires ngAnimate.
2. ngAnimate will destroy your element after the ng-leave animation has been completed, so your element will never be used. Instead, a clone of your original will be dynamically created and used in its place, allowing for a single alert to be used as many times as

[2014-04-02 07:12] SrividyaKasu commented on #28
@mark : Thanks for you response. Even catch all alert is not working on second page. If I remove {{flash.message}} div element in the first page, then flash message works in second page. Its like I can either one of the flash message, not both.

[2014-04-02 07:21] wmluke commented on #28
Hi @SrividyaKasu,

Thanks for posting this issue.  Can you provide more detailed HTML and JS snippets of page 1 and page 2 and controller 1 and controller 2?

Thanks,
Luke

[2014-04-02 10:03] mahrton commented on #28
Hi Luke and Mark,

I work for the same company as Srividya. I attempted to fix this problem and have a patch that seems to work and is compatible with the existing functionality. (As much as I can see.)

I've created a pull request please revise and perhaps approve if you find it useful.

Best regards
Marton Tatai

[2014-04-05 20:32] wmluke commented on #28
Hi Marton,

Thanks for the PR, but before we go there I'd like to get  a better understanding of this issue.

Please include some more detailed template and controller examples so that I can dig deeper.

Thanks again,
Luke

[2014-04-08 07:25] mahrton commented on #28
Hi Luke,

Thanks for your reply. I've compiled a package with the example files. They are commented and I've deleted most of the content to make it simpler and more transparent.
http://www.sendspace.com/file/azl4pa

If I've deleted too much or you need more information please let me know.
Generally the problem is that when there is a message box on the page we are navigating away from the hooked $

[2014-04-09 04:33] Rodeoclash commented on #25
Not working here either.

[2014-04-16 21:01] mahrton commented on #28
Hi Luke,

I do not mean to rush you, I just wondered if you perhaps had a chance to look at the ZIP file I have sent, or you need more information from us?

Regards
M

[2014-04-16 22:17] wmluke commented on #28
Hi Marton,

Thanks for following up.

Admittedly, I've been preoccupied learning how to be a first time father. The online docs for these newborn platforms isn't so great ;-).

Fingers crossed, I'm hoping to get caught up this weekend.

Thanks again for contributing.

Luke

[2014-04-17 06:08] mahrton commented on #28
Haha, that is fantastic, congratulations!
Take your time, first thing first.

Best regards
M

[2014-04-27 22:53] auser commented on #27
+1

[2014-04-30 12:23] mahrton commented on #28
Hi Luke,

Is there any chance you will be able to review the pull request anytime soon?

Bests
M

[2014-05-06 09:28] mren opened #31 "Showing flash only on next page"
How do I handle the case if there is a flash directive on the from page and on the page the form redirects to. I don't get the correct behaviour. Perhaps you can help me understand it.

My use case is the following. In my `success` callback I do the following

[code]

Then the flash on my current page is notified, but because of the redirect, the `$destroy` event is called and the flash message is

[2014-05-07 13:18] mren commented on #31
Should this directive work with flashes that are displayed on a different route? The more I think about it, the more it seems, that this directive is only for flashes that should be shown on the very same page.
Is this correct or am I missing something here?

Best, Mark

[2014-05-08 14:42] mren commented on #28
Any updates on this? I have the same issue.
I'm having flashes in both views (basically its the same view with a `$route.reload()`).
Its the Edit page of a model. When I want to update the model I set a flash and reload the page to reduce the state changes in the controller.

The flash on the first page receives the message and directly cleans in on the destroy event.
The second flash never sees t

[2014-05-08 17:05] mahrton commented on #28
Hi Mark,

If you want you can clone my branch then use it something like this.

function Controller($scope, $route, flash) {
  $scope.submit = function() {
    // Model update omitted for brevity.
    flash.success = 'Model updated';
    flash.cleanOnReload = false;
     // Easier to reload all models and the changed
    // dependencies than to keep track of state.
    $route.reload();
  };
}

It

[2014-05-10 19:16] wmluke opened #32 "Version 2.0 Roadmap"
`angular-flash` needs a refresh.  What features would you like to see in v2.0?

[2014-05-10 19:32] wmluke commented on #28
Hi Folks,

Sorry for the radio silence.  I've been pondering how to best support this behavior.

Initially, I envisioned `angular-flash` as a simple realtime pub/sub pattern with little to no state and persistence.

But it seems that you guys would like to use it more like the HTTP session flash pattern popularized by [rails flash](http://guides.rubyonrails.org/action_controller_overview.html#the-

[2014-05-10 19:33] wmluke commented on #31
Hi @mren,

I feel your pain.  See my comments in https://github.com/wmluke/angular-flash/issues/28#issuecomment-42751904.

Thanks again,
Luke

[2014-05-10 19:33] #31 closed, assigned to nobody

[2014-06-10 21:44] tony-kerz opened #33 "question: multiple messages either sequentially or simultaneously?"
hi luke,

i have something like:

[code]

and i have a situation where i am sending one message there and then almost immediately after (before the first message fades), sending another message.

right now, i am only seeing the first message.

can you suggest any strategy to get the messages to show sequentially (so after the first one fades, the second one shows and then fades)?

or if that is a

[2014-06-11 16:32] unoriginalscreenname opened #34 "Message doesn't fully disappear"
Hey, great little service!  I did notice that the message continues to take up space in the dom after it is 'closed'.  This seems to be because inside the directive you are leaving the message object on the scope instead of clearing it out.

If you add $scope.flash = {} to the flash-directive on line 26 it'll fix it.

[code]

[2014-06-16 20:36] nikhilvij commented on #28
Hey @wmluke I also intended to use it for multiple pages. Did you end up implementing this, or is there any workaround to do this right now?

[2014-06-18 11:35] lubosdz commented on #34
Yes, this is true, there is a bug and the solution above will fix it. Unfortunatelly, if there is a close-button <button ....></button>

[code]

then button won't disappear too :-)

[2014-06-18 11:58] lubosdz opened #35 "Not binding to flash.to("someId")"
Binding to element ID is not working.

[code]

[code]

would display "Some info for any element ...".

[2014-06-19 08:10] Kuzmin opened #37 "Animations don't work"
I have the following HTML:

[code]

When the alert is removed it doesn't fade out as expected, instead it just disappears. Any way to fix this?

[2014-06-22 23:25] wmluke commented on #34
Hi @ericmcgregor,

Have you tried out https://github.com/wmluke/angular-flash#styling-considerations to resolve the visibility issues?

Thanks,
Luke

[2014-06-22 23:28] wmluke commented on #37
Hi @Kuzmin,

Have you tried out https://github.com/wmluke/angular-flash#css-transition-quirks?

Let me know how it goes.

Thanks,
Luke

[2014-06-23 12:48] lubosdz commented on #34
I was trying to use styling considerations with "alert in" classes, but did not work for me. Or I missed something perhaps... Actually, in the examples, there is no hiding CSS styling (something like **alert .close {display: none}** or similar) - so I'd say it's either incomplete or not really functional.

[2014-06-26 12:51] btoone commented on #33
:+1:

[2014-06-27 14:56] leoetlino commented on #34
It doesn't really work, indeed. The dismissed alert still takes up place for an unknown reason; the classes seem correct though.

[2014-07-07 15:09] tony-kerz opened #38 "question: techniques for protractor testing"
our project ran into some timing issues getting consistent passing protractor tests against (auto-fade) flash messages, so we decided to get rid of these tests for now.

wondering what strategies, if any, others have tried successfully around this?

regards,
tony.

[2014-07-08 17:23] StevenClontz commented on #33
:+1: :+1:. It'd be nice if `alert.warn` was like an array to which messages could be pushed. Then the `flash-alert` directive could duplicate itself for each message in `alert.warn`.

[2014-07-08 17:27] StevenClontz commented on #28
My solution is to have a separate `HeaderCtrl` for all things common across my app: navbar, sidebar, and flash messages. Then, even when my route (well, state since I'm using `ui-router`), changes, the messages persist since that part of the page isn't affected.

EDIT: More details.

[code]

[code]

Actually, there's no reason to have the separate control: as long as the `flashAlert` directive is

[2014-08-05 23:41] austinpray commented on #32
IE8 support

[2014-08-05 23:54] austinpray commented on #19
Angular 1.2 is verified against ie8. This is the only module in my entire app that breaks compatibility with ie8. I am going to go ahead and use @dmitry-dedukhin 's fork because I am on a time-crunch, but I am definitely going to circle around and see if I can get a pull request in. The issue is that it should at least not throw a JS error when not working with ie8.

[2014-08-14 14:14] teneightfive commented on #38
I've been having the same problems. Protractor doesn't seem to find our flash messages.

Any progress on how best to test for this?

[2014-08-15 06:08] swordsreversed opened #39 "Subscribe method example"
Can someone provide an example of the subscribe method? I want to set my flash div to display:none after it flashes to remove it.

[2014-08-17 22:22] beefancohen opened #40 "Add support for alert-links through ng-bind-html"
http://getbootstrap.com/components/#alerts-links

Could be helpful to allow html-safe messages. ng-bind works in the directive, but ng-bind-html shows no message.

Thanks

[2014-08-21 17:18] StevenClontz commented on #35
I had a similar problem. For whatever reason,

[code]

seemed to fix it.

[2014-08-22 17:44] davetron5000 commented on #28
Just to chime in, I ended up using @StevenClontz's solution and it worked well.  This feels more like the "correct" way to do it, as opposed to some blob of data persisting throughout navigation events.

[2014-08-26 07:39] kynan commented on #17
I can confirm the behavior @rsiddle, @stevebering and @joselo are seeing i.e. `flash.clean()` on route change doesn't clear any of the existing messages. Have worked around it by manually setting

[code]

[2014-08-27 02:45] caiges commented on #34
@ericmcgregor You could also set the display CSS property on the flash message container to "none" and then set the "active class" ("in" by default) display property to "block", "inline", etc.. Then you wouldn't have to add code to clear flash.message.

[2014-08-29 08:50] giladbeeri commented on #32
Upgrade to Bootstrap 3

[2014-09-16 19:55] jcbmllgn commented on #40
+1

[2014-09-16 22:16] jcbmllgn commented on #33
:+1:

[2014-09-24 18:09] smathson commented on #40
+1

[2014-09-30 13:35] colinmutter commented on #28
Instead of always having to use angular-flash in a high-level scope (above the view/ui-view), why not retain the messages in the angular-flash service, like in [angular-flare](https://github.com/rfink/angular-flare)?  It wouldn't force a particular design pattern and would let one access the flash messages without the worry of them getting nuked with the directive.

[2014-10-02 19:45] fernandomantoan commented on #34
Same behavior here, @ericmcgregor solution works for me!

[2014-10-15 08:09] tobidelius commented on #34
same here

[2014-10-22 22:29] fracz opened #41 "Allow Angular 1.3 in dependencies"
There is a "1.0 - 1.2" value for angular dependency version which causes bower questions when upgrading angular to 1.3.

[2014-10-23 12:45] zakjan commented on #32
Show multiple messages, with their own timeouts to hide

#33

[2014-11-02 03:22] itkin commented on #41
+1 can you bump ? thx

[2014-11-03 18:17] wald-tq commented on #41
+1

[2014-11-04 10:41] maxschulze commented on #41
+1

[2014-11-12 01:47] Rodeoclash commented on #32
+1 for #33

[2014-11-13 04:28] #41 closed, assigned to nobody

[2014-11-18 19:08] jarandaf commented on #25
Same here...

[2014-12-18 23:49] spiermar opened #43 "flash.to with dynamic ids"
I have something like this:

[code]

Where the div id is being generated dynamically. The id variable is coming from a directive. Inspecting the element once the page is loaded, the element id is resolved correctly.

If I try this:

[code]

Nothing is displayed. Again, the id is being resolved correctly, and if I remove the id from the equation, the alert is displayed correctly.
Unfortunately, I n

[2015-01-12 14:55] pragmaticsc commented on #32
IE8 support

[2015-01-21 12:13] martinmalek opened #44 "Documentation: Snippet showing how to load scripts"
Could you add a snippet showing how to load the module js?

script src="bower_components/angular-flash/dist/angular-flash.min.js">

[2015-01-30 22:06] opyate commented on #32
#33

Something like `flash.error('the message', 2000);` which enqueues `'the message'` and displays it for `2000` ms once other queued messages of the same type (i.e. error in this case) have been rendered.

[2015-03-06 14:05] raimonesteve commented on #17
PR "bugfix remove dismissed messages" https://github.com/wmluke/angular-flash/pull/36 fix flash.clean();

I'm waiting @wmluke merge https://github.com/wmluke/angular-flash/pull/36 soon. Until then, you could do:

[code]

[2015-04-08 02:29] leore opened #45 "is there an npm package for this repo?"

[2015-04-17 11:13] omarqureshi commented on #43
I'd also like to do something similar here - @spiermar what did you end up doing?

[2015-04-17 11:25] omarqureshi commented on #43
Actually, this does seem to work. What I did was:

[code]

With javascript of

[code]

[2015-05-08 20:59] arkarkark opened #46 "Makefile should use binaries out of node_modules?"
right now you need to have npm, bower and grunt installed on your system.

It'd be nice if you had bower and grunt-cli as dev dependencies in package.json and then used the programs out of node_modules rather than depending on them being installed.

[2015-07-21 08:35] LordZombi opened #47 "I want to have one flash message displaying longer."
Hello I want to know if there is any simple way to make one flash message appear longer than the others. All messages will display for 5s and one will display longer for example 10s. Thanks.

[2015-07-21 12:24] LordZombi commented on #47
Ok I solve it :) I just create a new subsciber and send it there, very easy.

[2015-07-21 12:24] #47 closed, assigned to nobody

[2015-09-28 09:07] sahansera opened #48 "Multiple flash messages of the same type?"
Hi,

Does this plugin support displaying multiple flash messages of the same type. For instance, I want to display 3 messages of the type 'info'.

Thanks and regards,
./Sahan

[2015-09-28 20:05] wmluke commented on #48
Yes.  Just use `flash-alert` directive three times...

[code]

[2015-09-28 20:09] wmluke commented on #46
I'd rather not take responsibility to setup folks development environment.

[2015-09-28 20:09] #46 closed, assigned to nobody

[2015-09-28 20:11] wmluke commented on #45
Not yet.  Are you using something like `browserify`?

[2015-09-28 20:11] #45 closed, assigned to nobody

[2015-09-30 08:50] sahansera commented on #48
@wmluke Thanks! My context was, displaying multiple server maintenance-like messages on a dashboard. I implemented it using a ng-repeat and bound the message object that gets iterated while looping.

Thanks again! :+1:

[2015-09-30 08:50] #48 closed, assigned to nobody

[2015-12-03 12:29] stivni opened #49 "Angular dependency is bound to upper limit 1.3"
In bower, this library needs angular as a dependency.
The versions are restricted to "1.0 - 1.3".
This means I can not install this lib easily when other libs need angular 1.4 or higher.

Is there any reason it only works with angular 1.3?
If not, I suggest removing the upper limit.

[2015-12-29 08:44] wald-tq commented on #49
@stivni : have you tested angular-flash with angular 1.4.x?

[2016-07-14 16:02] phelanm commented on #49
any which-version-with-what tips/experience anyone wants to share? thanks

...
Unable to find a suitable version for angular, please choose one by typing one of the numbers below:
    1) angular#1.0 - 1.3 which resolved to 1.3.20 and is required by angular-flash#0.1.14
    2) angular#1.5.7 which resolved to 1.5.7 and is required by angular-route#1.5.7
    3) angular#\* which resolved to 1.5.7 and

[2016-07-14 19:01] phelanm commented on #49
changing the dependencies on this fork gives a bunch of warnings, but tests pass and seems to work?

$ git clone https://github.com/phelanm/angular-flash.git
$ git diff bower.json
...
     "dependencies": {
-        "angular": "1.0 - 1.3"
-        "angular": "1.0 - 1.5.7"
  ...
  $ make
  npm install     # Install node modules
  ...
  WARN engine karma@0.12.37: wanted: {"node":">=0.8 <=0.12 || >=1

[2016-07-17 07:19] #39 closed, assigned to nobody

[2017-04-06 07:43] Abdul-Hameed001 opened #50 "Showing error when i start"
Error: Cannot find module '/Users/apple/Downloads/angular-flash-master/app'
    at Function.Module._resolveFilename (module.js:470:15)
    at Function.Module._load (module.js:418:25)
    at Module.runMain (module.js:605:10)
    at run (bootstrap_node.js:420:7)
    at startup (bootstrap_node.js:139:9)
    at bootstrap_node.js:535:3